<script id="IssuesListTemplate" type="ractive/text">
    {{#if visible}}
        //= issues-list-settings.html
        {{#if issues.length && !errorLoadingIssues && !issuesLoading}}
            <div class="issues-list__header">
                <span class="issues-list__count">{{repository.open_issues}} opened</span>
                {{#if issues.length > 10}}
                    <div class="issues-list__perpage">
                        issues per page:
                        <select class="issues-list__perpageinput" on-change="perPageChange">
                            <option value="10" {{perPage == 10 ? 'selected' : ''}}>10</option>
                            <option value="20" {{perPage == 20 ? 'selected' : ''}}>20</option>
                            <option value="30" {{perPage == 30 ? 'selected' : ''}}>30</option>
                            <option value="50" {{perPage == 50 ? 'selected' : ''}}>50</option>
                            <option value="100" {{perPage == 100 ? 'selected' : ''}}>100</option>
                        </select>
                    </div>
                {{/if}}
            </div>
            <ul class="issues-list">
                {{#each issues}}
                    <li class="issues-list__issue">
                        <div class="issues-list__column1">
                            <p class="issues-list__title">{{@index}}
                                <a href="#repos/{{../../user}}/{{repository.name}}/issues/{{number}}" class="issues-list__link">{{title}}</a>
                                {{#labels}}
                                    <span class="issues-list__label {{isDimColor(color) ? '_dim' : ''}}" style="background-color: #{{color}}">{{name}}</span>
                                {{/labels}}
                            </p>
                            <p class="issues-list__summary">
                                #{{number}} opened {{formatDate(created_at)}} by <a class="issues-list__author-link" href="#" on-click="setUser:'{{user.login}}'">{{user.login}}</a>
                            </p>
                        </div>
                        <div class="issues-list__column2">
                            <div class="issues-list__comments">{{comments}}</div>
                        </div>
                    </li>
                {{/each issues}}
            </ul>
        {{else}}
            {{#if repoHasNoIssues}}
                <div class="issues-list__noissue">There is no issue in this repository</div>
            {{/if}}
            {{#if issuesLoading}}
                <div class="issues-list__loading">Loading issues...</div>
            {{/if}}
            {{#if errorLoadingIssues}}
                <div class="issues-list__error">Error issues loading. Try to check your internet connection</div>
            {{/if}}                        
        {{/if}}
    {{/if}}
</script>